<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Version</key>
	<string>0.1</string>
	<key>Author</key>
	<string>Giacomo Trezzi</string>
	<key>Scripts</key>
	<array>
		<dict>
			<key>name</key>
			<string>Search in Dictionary</string>
			<key>type</key>
			<string>as</string>
			<key>command</key>
			<string>tell application &quot;%appname%&quot;
	activate
	set x to the clipboard
	delay 0.2
	tell application &quot;System Events&quot;
	key code 8 using command down
	delay 0.2
	set theSelectedText to the clipboard
	end tell
	set the clipboard to x
	delay 0.2
	end tell
	return theSelectedText</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Translate</string>
			<key>type</key>
			<string>as</string>
			<key>command</key>
			<string>tell application &quot;%appname%&quot;
		activate
		set x to the clipboard
		tell application &quot;System Events&quot;
			key code 8 using command down
			delay 0.2
			set theSelectedText to the clipboard
			set mainurl to &quot;http://translate.google.com/translate_t?sl=auto&amp;tl=it&amp;q=&quot;
			set newUrl to mainurl &amp; theSelectedText
			open location newUrl
		end tell
		set the clipboard to x
	end tell</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Fullscreen Snapshot</string>
			<key>type</key>
			<string>as</string>
			<key>command</key>
			<string>tell application &quot;System Events&quot;
	key code 20 using {command down, shift down}
	end tell</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Rectangular Snapshot</string>
			<key>type</key>
			<string>as</string>
			<key>command</key>
			<string>tell application &quot;System Events&quot;
	key code 21 using {command down, shift down}\n\
	end tell</string>
		</dict>
		<dict>
			<key>name</key>
			<string>Window Snapshot</string>
			<key>type</key>
			<string>as</string>
			<key>command</key>
			<string>tell application &quot;System Events&quot;
	key code 21 using {command down, shift down}\n\
	delay 0.2
	key code 49
	end tell</string>
		</dict>
	</array>
</dict>
</plist>
